<div class="component">
  VIPINX FAN FORUM UNDER CONSTRUCTION!!1
  <marquee style="font-size: medium">
    <span style="color:#ff0000; margin-right: 200px">☆*:.｡.o(≧▽≦)o.｡.:*☆</span>
    <span style="color:#ff5800; margin-right: 200px">o(≧▽≦)o</span>
    <span style="color:#ffca00; margin-right: 200px">(´,,•ω•,,)♡</span>
    <span style="color:#24ff00; margin-right: 200px">♡＼(￣▽￣)／♡</span>
    <span style="color:#006fff; margin-right: 200px">(/▽＼*)｡o○♡</span>
    <span style="color:#8400ff; margin-right: 200px">(⁄ ⁄>⁄ ▽ ⁄<⁄ ⁄)</span>
  </marquee>
</div>
